version: "3.3"

services:
  fastapi:
    image: image-fastapi
    build: .
    container_name: fastapi-application
    ports: 
      - "8000:8000"
    volumes:
      - ./:/app
  database:
    image: "postgres:14.0-alpine"
    env_file:
      - .env
    volumes:
      - ./docker/postgres:/var/lib/postgresql/data
    ports:
      - 5432:5432